{% extends 'tailbase.html' %}

{% block content %}
<section id="contact" class="py-20">
    <div class="container mx-auto px-6 flex flex-col md:flex-row items-center">
        <!-- Left Side Image -->
        <div class="md:w-1/2 mt-20 mb-8 md:mb-0">
            <img src="https://cdn.dribbble.com/users/1304577/screenshots/4032985/media/2ec847ffdf4582eed352653cb2223303.gif" alt="Spam Detection" class="w-full h-auto rounded-lg shadow-lg">
        </div>
        
        <!-- Right Side Form -->
        <div class="md:w-1/2">
            <h2 class="text-4xl font-bold mb-12 text-center">Detect Spam</h2>
            <div class="max-w-md mx-auto bg-white bg-opacity-20 backdrop-filter backdrop-blur-lg rounded-xl p-8 shadow-2xl">
                <form method="post">
                    <div class="mb-6">
                        <label for="content" class="block text-sm font-medium mb-2">Message</label>
                        <textarea id="content" name="content" rows="10"
                            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-600 text-gray-800"></textarea>
                    </div>
                    <button type="submit"
                        class="w-full bg-purple-600 text-white py-2 px-4 rounded-md hover:bg-purple-700 transition duration-300">Make Prediction
                    </button>
                </form>
            </div>

            {% if result %}
            <!-- Display Result in a Banner -->
            <div class="max-w-md mx-auto bg-white bg-opacity-20 backdrop-filter backdrop-blur-lg rounded-xl p-8 shadow-2xl mt-8">
                <h3 class="text-2xl font-bold mb-4">Result</h3>
                <p class="text-lg">{{ result.0.message }}</p>
                <p class="text-lg text-center">
                    {% if result.0.value == 0 %}
                    <span class="text-6xl font-bold text-green-700">
                        {{ result.0.label }}
                    </span>
                    {% else %}
                    <span class="text-6xl font-bold text-red-500">
                        {{ result.0.label }}
                    </span>
                    {% endif %}
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
